<div class="row mb-3">
  <div class="col-md-3">
    <div class="center">
      <%= image_tag avatar_url(@user), class: "avatar-full" %>
    </div>
    <div class="card">
      <div class="card-header"><%= @user.name %></div>
      <div class="card-body">
        <%= @user.description || "no description" %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="description row-space-3">
    </div>
  </div>
</div>
<hr/>
<div id="playlists">
  <h2>Your Playlists</h2>
  <%= render partial: "playlists/playlist_list", locals: {playlists: @playlists} %>
</div>
<hr/>
<div id="favoritelists">
  <h2>Your Favorite Playlists</h2>
  <%= render partial: "playlists/playlist_list", locals: {playlists: current_user.favorite_playlists.page(params[:page]).per(6)} %>
</div>
